* {
  box-sizing: border-box;
}

#svgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#municipality-name-container {
  text-align: center;
  margin: 20px;
  width: 300px;
}

#game-start {
  text-align: center;
  margin: 20px;
  width: 150px;
}

#game-restart {
  text-align: center;
  margin: 20px;
  width: 150px;
}

.errorTag {
  position: fixed;
  z-index: 100;
  top: 10px;
  left: 10px;
}

.errorTag span {
  background-color: rgb(255, 47, 47);
  color: white;
  font-weight: bold;
}
